<div id="about">
    <a href="mailto:hello@justylian.com" target="_blank">
        <div id="mail">hello@justylian.com</div>
    </a>
    <a href="mailto:hello@justylian.com" target="_blank"><i class="fa fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/justylian/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.behance.net/steliosxenakis" target="_blank"><i class="fab fa-behance"></i></a>
    <a href="https://github.com/justylian" target="_blank"><i class="fab fa-github"></i></a>


    <div id="about-by">Designed by
        <div id="about-by-guy" (click)="scrollDown('home')"> that guy</div>

    </div>
</div>