<div id="about">
    <h1>_<br>Reach</h1>

    <a href="mailto:steliosxenakis22@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/justylian/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.behance.net/steliosxenakis" target="_blank"><i class="fab fa-behance"></i></a>
    <a href="https://unsplash.com/@justylian" target="_blank"> <i class="fab fa-unsplash"></i></a>
    <a href="https://github.com/justylian" target="_blank"><i class="fab fa-github"></i></a>
    <!-- <a href="mailto:steliosxenakis22@gmail.com" target="_blank">
        <div id="mail">steliosxenakis22@gmail.com</div>
    </a>-->

    <div id="about-by">Created by
        <div id="about-by-guy" (click)="scrollDown('home')"> that guy</div>

    </div>
</div>
