#about {
    height: 800px;
    margin-top: 15;
    margin-top: 10%;
    .fab {
        font-size: 2vw;
    }
    .fab .fa-github {}
    .fab .fa-behance {}
    .fab .fa-linkedin-in {}
    .fab .fa-envelope {
        font-size: 2vw;
        width: 100px;
        color: blue;
        height: 100px;
    }
    #mail {}
    #about-by {
        float: right;
        margin: auto;
        position: relative;
        margin-top: 36%;
        right: 41%;
        #about-by-guy {
            color: var(--main-color-2);
            display: inline;
            transition: 1s;
            cursor: pointer;
        }
        #about-by-guy:hover {
            color: black;
        }
    }
}