#about {
    height: 32vw;
    margin-top: 15;
    margin-top: 10%;
    .fab,
    .far,
    .fa {
        font-size: 3vw;
        color: var(--main-color-2);
        margin-left: 14%;
        margin-top: 3%;
        text-align: left;
        display: block;
        transition: 1s;
        cursor: pointer;
        width: 5%;
    }
    .fab:hover,
    .far:hover,
    .fa:hover {
        color: var(--main-color-1);
    }
    .fab.fa-github {}
    .fab.fa-behance {}
    .fab.fa-linkedin-in {}
    .far.fa-envelope {}
    #mail {
        font-size: 2.5vw;
        position: absolute;
        margin-top: -9%;
        margin-left: 40%;
        color: var(--main-color-1);
    }
    #about-by {
        float: right;
        margin: auto;
        position: relative;
        margin-top: 7%;
        right: 37%;
        font-size: 2vw;
        #about-by-guy {
            color: var(--main-color-2);
            display: inline;
            transition: 1s;
            cursor: pointer;
        }
        #about-by-guy:hover {
            color: black;
        }
    }
}

@media screen and (max-width:481px) {
    #about {
        //padding-right: 10%;
    }
}
