#projects {
    margin-top: -5%;
    padding-top: 5%;
    .loader {
        margin: auto;
        position: absolute;
        /* border: 3px solid #f3f3f30a; */
        border-radius: 50%;
        border-top: 2px solid #e8e096;
        width: 1.7vw;
        display: inline;
        height: 1.7vw;
        margin-left: 1%;
        opacity: 0;
        animation: spin 1s linear infinite;
        z-index: 3;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    ul {
        padding-left: 0%;
        z-index: 4;
    }
    #project2 {}
    #project1 {
        background: #102224;
    }
    #projects-inner li {
        width: 70%;
        //padding-left: 10%;
        //padding-right: 10%;
        display: block;
        height: 100%;
        position: relative;
        margin: auto;
        /* margin-right: 0%; */
        margin-top: 10%;
    }
    .project {
        background-size: cover;
        display: none;
        width: 100%;
        position: relative;
        margin-top: 2%;
        // margin-top: -220px;
        z-index: 4;
        img,
        video {
            // opacity: 0;
            width: 100%;
        }
        .minimize {
            display: none;
            position: fixed;
            color: white;
            filter: drop-shadow(0px 0px 30px #000);
            right: 2%;
            top: 0%;
            z-index: 6;
            /* margin: auto; */
            font-size: 5vw;
            cursor: pointer;
            .minimize-text {
                font-size: 1vw;
                filter: drop-shadow(0px 0px 40px #000);
                position: absolute;
                text-align: center;
                right: -19%;
                top: 83%;
                opacity: 0;
            }
        }
    }
    #projects-inner-text {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        h1 {
            display: block;
            color: var(--main-color-1);
            font-size: 2.5vw;
            margin: 0;
        }
        h2 {
            display: block;
            color: var(--main-color-1);
            font-size: 1.5vw;
            margin: 0;
            font-family: "RobotoLight";
        }
        h3 {
            display: block;
            color: var(--main-color-2);
            font-size: 1.5vw;
            cursor: pointer;
            transition: 1s;
            padding-top: 4%;
        }
        h3:hover {
            color: var(--main-color-1);
        }
    }
    #projects-inner-assets {
        width: 50%;
        display: inline-block;
        background-size: cover;
        transition: 1s;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    #projects-inner-assets:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width:481px) {
    #projects #projects-inner li {
        width: 90%;
    }
    #projects #projects-inner-text h1 {
        font-size: 4vw;
    }
    #projects #projects-inner-text h2 {
        font-size: 2.5vw;
    }
    #projects #projects-inner-text h3 {
        font-size: 2.5vw;
    }
    #projects .project .minimize {
        right: 5%;
        font-size: 11vw;
    }
}