<div id="projects">
    <h1>_<br>Projects</h1>

    <ul id="projects-inner">
        <li id="project-li-1">
            <div id="projects-inner-text">
                <h4>Bachelor Thesis
                </h4>
                <h1>Ambient Travel Experience
                </h1>

                <h2>Product design and development of a multimodal system which creates an interactive experience for the upcoming and past trips of the user using ambient technologies. Created for the needs of the Smart Home of the Ambient Intelligence Programme
                    (AmI) in the HCI Laboratory of ICS, FORTH.
                </h2>
                <h3 id="h3-1" (click)="showProject(1)">See More</h3>


            </div>
            <a id="projects-inner-assets" (click)="showProject(1)">
                <img src="../../assets/img/thesis.png" loading="lazy" (load)="hideLoader(1)">
            </a>

        </li>
        <div class="project" id="project1">
            <div class="minimize" id="project1-min" (click)="showProject(1)" (mouseenter)="hoverExit(1)" (mouseleave)="unhoverExit(1)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <img src="../../assets/img/thesis-presentation.png" loading="lazy">
            <video controls autoplay>
              <source src="../../assets/img/thesis1.mp4" type="video/mp4"></video>
            <video controls autoplay>
                  <source src="../../assets/img/thesis2.mp4" type="video/mp4"></video>
        </div>
        <li id="project-li-4">
            <div id="projects-inner-text">
                <h4>Internship

                </h4>
                <h1> Science & Technology Park of Crete

                </h1>
                <h2>User experience design and development of the Science & Technology Park of Crete official website and the brand's regeneration. The work was accomplished for the needs of an internship programme for the University of Crete.
                </h2>
                <h3 id="h3-4" (click)="showProject(4)">See More</h3>
            </div>
            <a id="projects-inner-assets" (click)="showProject(4)">
                <img src="../../assets/img/stepc.png" loading="lazy">
            </a>
        </li>
        <div class="project" id="project4">
            <div class="minimize" id="project4-min" (click)="showProject(4)" (mouseenter)="hoverExit(4)" (mouseleave)="unhoverExit(4)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <img src="../../assets/img/stepc-presentation.png" loading="lazy">
            <video controls autoplay>
              <source src="../../assets/img/stepc.mp4" type="video/mp4"></video>
        </div>
        <li id="project-li-5">
            <div id="projects-inner-text">
                <h4>Product Design

                </h4>

                <h1> Ambient Travel Experience App

                </h1>
                <h2>
                    Assisting app for the Ambient Travel Experience for the Smart Home system. Created to complement the existing product, celebrating the multimodality of the system. The app functionalities are based on users' recommendations. This is the app that completes
                    the experience. </h2>
                <h3 id="h3-5" (click)="showProject(5)">See More</h3>
            </div>
            <a id="projects-inner-assets" (click)="showProject(5)">
                <img src="../../assets/img/thesisapp.png" loading="lazy">
            </a>
        </li>
        <div class="project" id="project5">
            <div class="minimize" id="project5-min" (click)="showProject(5)" (mouseenter)="hoverExit(5)" (mouseleave)="unhoverExit(5)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <img src="../../assets/img/thesisapp-presentation.png" loading="lazy">
        </div>
        <li id="project-li-3">
            <div id="projects-inner-text">
                <h4>HCI LABORATORY PROJECT

                </h4>
                <h1> HCI 2019

                </h1>
                <h2>Design and development of a HCI International Conferences reminiscence through a revolving timeline in a web-app form. The projection demonstrated memories from conferences since 2007, but also promoted the upcoming hosts. The creation
                    was projected in the 2019 HCI International Conference in Orlando, Florida for the HCI Laboratory of the Institute of Computer Science in FORTH. </h2>
                <h3 id="h3-3" (click)="showProject(3)">See More</h3>
            </div>
            <a id="projects-inner-assets" (click)="showProject(3)">
                <img src="../../assets/img/conf.png" loading="lazy">
            </a>
        </li>
        <div class="project" id="project3">
            <div class="minimize" id="project3-min" (click)="showProject(3)" (mouseenter)="hoverExit(3)" (mouseleave)="unhoverExit(3)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <video controls autoplay>
          <source src="../../assets/img/conf-presentation.mp4" type="video/mp4"></video>
            <!--   <img src="../../assets/img/conf-presentation.png" loading="lazy">-->

        </div>
        <li id="project-li-6">
            <div id="projects-inner-text">
                <h4>Product Design

                </h4>
                <h1> Melikris

                </h1>
                <h2> Ideating, creating and testing a small e-commerce website for honey products.
                </h2>
                <h3 id="h3-6" (click)="showProject(6)">See More</h3>
            </div>
            <a id="projects-inner-assets" (click)="showProject(6)">
                <img src="../../assets/img/melikris.png" loading="lazy">
            </a>
        </li>
        <div class="project" id="project6">
            <div class="minimize" id="project6-min" (click)="showProject(6)" (mouseenter)="hoverExit(6)" (mouseleave)="unhoverExit(6)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <img src="../../assets/img/melikris-presentation.png" loading="lazy">
            <img id="gif" src="../../assets/img/melikris1.gif" loading="lazy">
            <img id="gif" src="../../assets/img/melikris2.gif" loading="lazy">
            <img id="gif" src="../../assets/img/melikris3.gif" loading="lazy">
            <img id="gif" src="../../assets/img/melikrisold.gif" loading="lazy">

        </div>
        <li id="project-li-2">
            <div id="projects-inner-text">
                <h4>Web & Graphic Design

                </h4>
                <h1>BONSAI

                </h1>
                <h2> Creation of a new brand identity for a local business. Fresh website built from scratch accompanied by a redesigned logotype.
                </h2>
                <h3 id="h3-2" (click)="showProject(2)">See More

                </h3>
            </div>
            <a id="projects-inner-assets" (click)="showProject(2)">

                <img src="../../assets/img/bonsai.png" loading="lazy">
            </a>

        </li>
        <div class="project" id="project2">
            <div class="minimize" id="project2-min" (click)="showProject(2)" (mouseenter)="hoverExit(2)" (mouseleave)="unhoverExit(2)">&#10005;
                <div class="minimize-text">Hide Project</div>
            </div>

            <img src="../../assets/img/bonsai-presentation.png" loading="lazy">
        </div>






    </ul>

</div>
