<div id="logos">
    <h1>Logotypes_</h1>

    <table>
        <tr>
            <td><img src="../../assets/img/logos/stepc.png" loading="lazy"></td>
            <td><img src="../../assets/img/logos/bonsai.png" loading="lazy"></td>

        </tr>
        <tr>
            <td><img src="../../assets/img/logos/smeftey.png" loading="lazy"></td>
            <td><img src="../../assets/img/logos/nikos.png" loading="lazy"></td>
        </tr>
        <tr>

            <!--              <td><img src="../../assets/img/logos/spitiko.png" loading="lazy"></td>

              <td><img src="../../assets/img/logos/melikris.png" loading="lazy"></td>-->
        </tr>
        <tr>
            <!--  <td><img src="../../assets/img/logos/logo.png" loading="lazy"></td>
             <td><img src="../../assets/img/logos/onion.png" loading="lazy"></td>-->
        </tr>
    </table>

</div>
