<div id="logos">
    <table>
        <tr>
            <td><img src="../../assets/img/logos/stepc.png"></td>
            <td><img src="../../assets/img/logos/bonsai.png"></td>

        </tr>
        <tr>
            <td><img src="../../assets/img/logos/smeftey.png"></td>
            <td><img src="../../assets/img/logos/spitiko.png"></td>
        </tr>
        <tr>
            <td><img src="../../assets/img/logos/nikos.png"></td>
            <td><img src="../../assets/img/logos/melikris.png"></td>
        </tr>
        <tr>
            <td><img src="../../assets/img/logos/logo.png"></td>
            <td><img src="../../assets/img/logos/onion.png"></td>
        </tr>
    </table>

</div>