<div id="screens">
    <table>
        <tr>
            <td (mouseenter)="hoverScreen(1)" (mouseleave)="unhoverScreen(1)">
                <div class="screens-text" id="screens-text-1">See More</div>
                <img src="../../assets/img/screens/1.png">
            </td>

            <td (mouseenter)="hoverScreen(2)" (mouseleave)="unhoverScreen(2)">
                <div class="screens-text" id="screens-text-2">See More</div>
                <img src="../../assets/img/screens/2.png">
            </td>

        </tr>
        <tr>
            <td (mouseenter)="hoverScreen(3)" (mouseleave)="unhoverScreen(3)">
                <div class="screens-text" id="screens-text-3">See More</div>
                <img src="../../assets/img/screens/3.png">
            </td>
            <td (mouseenter)="hoverScreen(4)" (mouseleave)="unhoverScreen(4)">
                <div class="screens-text" id="screens-text-4">See More</div>
                <img src="../../assets/img/screens/4.png">
            </td>
        </tr>
        <tr>
            <td (mouseenter)="hoverScreen(5)" (mouseleave)="unhoverScreen(5)">
                <div class="screens-text" id="screens-text-5">See More</div>
                <img src="../../assets/img/screens/5.png">
            </td>
            <td (mouseenter)="hoverScreen(6)" (mouseleave)="unhoverScreen(6)">
                <div class="screens-text" id="screens-text-6">See More</div>
                <img src="../../assets/img/screens/6.png">
            </td>
        </tr>
        <tr>
            <td (mouseenter)="hoverScreen(7)" (mouseleave)="unhoverScreen(7)">
                <div class="screens-text" id="screens-text-7">See More</div>
                <img src="../../assets/img/screens/7.png">
            </td>
            <td (mouseenter)="hoverScreen(8)" (mouseleave)="unhoverScreen(8)">
                <div class="screens-text" id="screens-text-8">See More</div>
                <img src="../../assets/img/screens/8.png">
            </td>
        </tr>
    </table>

</div>