#home {
    height: 100vh;
    .header {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #f4f4f400;
    }
    /* The progress container (grey background) */
    .progress-container {
        width: 100%;
        height: 5px;
        background-color: #f4f4f400;
    }
    /* The progress bar (scroll indicator) */
    .progress-bar {
        height: 5px;
        //transition:0.5s;
        background: var(--main-color-2);
        width: 0%;
    }
    #colour {
        position: relative;
        margin-right: 2%;
        margin-top: 2%;
        float: right;
        /* text-align: right; */
        width: 3.3vw;
        cursor: pointer;
        background: var(--main-color-1);
        height: 0.5vw;
        #colour-text {
            opacity: 0;
            font-size: 1vw;
            padding-top: 27%;
            text-align: center;
        }
    }
    #home-about {
        padding-top: 20%;
        width: 60%;
        margin-left: 20%;
        font-size: 3vw;
        font-family: "Roboto";
        line-height: 120%;
        #home-name {
            display: inline;
            color: var(--main-color-2);
            transition: 0.2s;
            cursor: pointer;
            background: url("/assets/img/me.jpg");
            background-clip: text;
            color: transparent;
            letter-spacing: 0vw;
            background-size: cover;
            //font-weight: bold;
        }
        #home-desc {
            display: inline;
            color: var(--main-color-1);
        }
        #home-desc-inner {
            // font-weight: bold;
        }
    }
    #arrow-down {
        color: var(--main-color-2);
        /* position: relative; */
        /* text-align: right; */
        //filter: drop-shadow(0px 0px 13px #fff);
        font-size: 6vw;
        float: right;
        text-align: right;
        position: fixed;
        right: 2%;
        z-index: 5;
        bottom: 4%;
        transition: 1s;
        cursor: pointer;
        .arrow-text {
            font-size: 1vw;
            margin-left: 0.7vw;
            margin-top: -1.8vw;
            text-align: center;
            opacity: 0;
            position: absolute;
            -webkit-filter: drop-shadow(0px 0px 13px #fff);
            // filter: drop-shadow(0px 0px 13px #fff);
        }
    }
    #arrow-down:hover {
        // color: black;
    }
    #arrow-up {
        color: var(--main-color-2);
        font-size: 6vw;
        float: right;
        text-align: right;
        display: none;
        position: fixed;
        right: 2%;
        z-index: 5;
        bottom: 4%;
        transition: 1s;
        cursor: pointer;
        //filter: drop-shadow(0px 0px 13px #fff);
        .arrow-text {
            font-size: 1vw;
            bottom: -16%;
            text-align: center;
            opacity: 0;
            position: absolute;
            //filter: drop-shadow(0px 0px 13px #fff);
        }
    }
    #arrow-up:hover {
        //color: black;
    }
}

@media screen and (max-width:481px) {
    #home {
        #home-about {
            font-size: 13vw;
            margin-left: 10%;
        }
        #arrow-up {
            font-size: 19vw;
            margin-right: 5%;
            //bottom: 0%;
        }
        #colour {
            height: 2vw;
            width: 10vw;
            margin-top: 10%;
            margin-right: 5%;
        }
        #colour #colour-text {
            font-size: 3vw;
        }
        #arrow-down .arrow-text {
            font-size: 3vw;
        }
        #arrow-up .arrow-text {
            font-size: 3vw;
        }
        #arrow-down {
            font-size: 19vw;
            margin-right: 5%;
        }
    }
}
